# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VSCode related
# (เปิดคอมเมนต์หากไม่ต้องการแชร์การตั้งค่า VSCode)
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-*
.pub-cache/
.pub/
build/
*.lock # (เฉพาะบางกรณี เช่นแพ็กเกจ)

# iOS related
ios/Pods/
ios/Flutter/Generated.xcconfig
ios/Runner/GoogleService-Info.plist
Podfile.lock

# Android related
android/local.properties
android/key.properties
android/upload-keystore.jks
/android/app/debug
/android/app/profile
/android/app/release
android/app/google-services.json

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# .gitignore
lib/app/data/providers/city_data_provider.dart
lib/app/data/providers/city_provider.dart

